/* mobile device */
@media screen and (max-width:600px) {
    /* *{
        max-width: 600px;
        padding: 0 auto;
    } */
    .btn{
        flex-direction: column;
        margin: 0;
        gap: 15px;
        align-items: center;
        width: 100%;
    }
    .banner{
        margin-top: 0;
        padding: 0px;
        
    }
    .popular-container{
        flex-direction: column;
        margin-top: 20px;
    }
    .popular-text{
        width: 90%;
        margin-left: 24px;
    }
    .popular-description{
        margin: 0px;
    }
    .popular-bottm-text {
        margin-bottom: 30px;
      }
    .popular-img{
        /* object-fit: cover; */
        padding: 10px;
    }
    .maldives , .srilanka , .bangladesh{
        flex-direction: column;
        padding: 10px;
    }
    .choose-img-container{
        padding: 10px;
    }
    .box-container{
        margin: 10px;
    }
}


/* laptop device */
@media screen and (min-width:992px) and (max-width:1176px) {
    .btn{
    
        padding: 0px;
        width:100% ;
    }
    .maldives , .srilanka , .bangladesh{
        flex-direction: column;
        padding: 10px;
    }
    .popular-container{
        padding: 10px;
        text-align: center;
    }
   .box-container{
    /* padding: 300px; */
   }
   .hotel-box-handpick , .hotel-box-world , .hotel-box-best{
    width: 100%;
   }
}


