@media screen and (max-width:576px) {
    .btn{
        flex-direction: column;
        margin: 0;
        gap: 15px;
        align-items: center;
        width: 100%;
    }
    .banner{
        margin-top: 0;
        padding: 0;
    }
    .popular-container{
        flex-direction: column;
        margin-top: 20px;
    }
    .popular-text{
        margin-left: 24px;
    }
    .popular-description{
        margin: 0px;
    }
    .popular-img{
        margin-top: 0;
    }
}